

/* Css for Menu Section  */
#menu-icon {
    display: none;
}

#menu {
    position: initial;
    background-color: inherit;
    display: inline;
    overflow: initial;
    width: initial;
    margin-top: 5px;
}

#menu ul li {
    text-align: initial;
    display: inline;
    margin-left: 10px;
}

#menu ul li a {
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    

}
/* CSS FOR SEARCH BAR AND ITS RESULT  */
.search-bar{
        top: 0px;
        right: 50px;
        width: 15vw;
}
#results-container{
    top: 44px;
    right: 50px;
    width: 15vw;
    height: 41vh;
    overflow: hidden;
}
.result{
    display: inline-block;
}
.result-item {
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.result-item img {
    width: 50px;
    height: 45px;
    margin-right: 10px;
}
.logo {
    margin-left: -300px;
    font-size: 22px;
}

.search-icon img {
    width: 35px;
    height: 35px;
}

/* CSS FOR SLIDE SECTION  */

.slide{
    height: 35vw;
}

.slide-image{
   max-width:  75%;
   width: 75%;
}
.slide-image img{
    -webkit-mask-image: linear-gradient(330deg,transparent 0,rgb(32, 32, 32) 0%,rgb(32, 32, 32) 0%,transparent);
    mask-image: linear-gradient(330deg,transparent 0,rgb(36,36,40) 30%,rgb(36,36,40) 70%,transparent);
    
}
.slide-detail{
    background: linear-gradient(270deg,transparent 0,#242428 30%,#242428 100%);
    padding: 500px 0px 150px 0px;
    
}
.slide-content{
    max-width: 700px;
    padding-left: 30px;
}
.slide-title{
    font-size: 3.5rem;
}
.slide-anime-detail{
    font-size: 0.9rem;
    margin-bottom: 25px;
    margin-top: 25px;
}
.icon{
    padding-right: 2px;
}
.slide-anime-detail span{
    margin-right: 15px;
   
}
.slide-desc{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 80px;
    font-size: 1rem;
    font-family: Montserrat, sans-serif;
    color: #ffffff88;
}
 /* CSS FOR TRENDING SECTION  */

 .trending{
    padding: 10px 15px 40px 45px;
 }
 .trend-title{
    font-size: 30px;
    margin: 15px;
 }
 .trend-list-container{
    overflow: hidden;
 } 

 .scroll-button{
    display: block;
    font-size: 80px;
    padding: 10px 13px 10px 0px;
    position: absolute;
    color: white;
    z-index: 10;
    right: 0;
    background: #000000d9;
 }
 #trend-list{
    display: flex;
    gap: 120px;
    
 }
 .trend-card
 {
    position: relative;
    width: 210px;
    height: 100%;
 }
 .trend-item span{
    top: 90px;
    left: -85px;
    font-weight: 100;
    font-size: 18px;
    width: 210px;
    padding: 4px 9px;
 }
 .trend-image{
    position: relative;
    width: 100px;
    height: 210px;
    left: 34px;
 }
 .trend-image img{
    width: 150px;
    height: 210px;
    cursor: pointer;
 }


 /* CSS FOR ANIME RECOMMAND SECTION  */
 .AvailableBox {
    padding:  15px 0px 25px 45px;
 }
 .AvailableBox span{
    color: rgb(214, 214, 118);
    font-weight: bold;
    font-size: 30px;
 }
#available-list{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
    gap: 20px;
}
.item-card{
    position: relative;
}
.item{
    transition: 0.3s;
}
.floatItem {
    display: none;
    flex-direction: column;
    width: 220px;
    background: linear-gradient(56deg, white, transparent);
    position: absolute;
    left: 100px;
    bottom: 130px;
    z-index: 5;
    padding: 8px 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(116, 104, 104);
    cursor: pointer;
    transition: 0.3s;
}
.floatItem span{
    color: rgba(3, 3, 3, 0.719);
    margin: 10px;
    font-weight: bold;
}
.floatItem p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    /* max-height: 98px; */
    font-size: 0.7rem;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    color: #000000;
    padding: 2px 5px;
}

.item:hover{
    filter: blur(10px);
}
.item:hover + .floatItem{
    display: flex;

}
.floatItem:hover{
    display: flex;
}

.seasonContainer{  
    max-width: 25%;
}
.seasonbox{
    order: 2;
    background: linear-gradient(189deg, #aea9a9, transparent);
    border-radius: 10px;
    /* border: 2px solid #f7f7f742; */
    padding: 10px 0px;
    text-align: center;
}
.seasonbtn{
    display: inline-block;
    color: black;
    background-color: rgba(255, 226, 145, 0.932);
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}
.item-card .playButton {
    margin: 5px 10px;
    padding: 5px 50px;
    border-radius: 30px;
    background-color: orange;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

    /* ------------------------------CSS FOR PLAYER BUTTON ----------------------------- */

/* CSS FOR ANIME PLAYER  */

.anime-player {
    display: flex;
    gap: 3%;
    margin: 20px 0px 0px 35px;
}
.anime-title::before{
    content: "\2022"; /* Unicode character for a dot (•) */
    margin-right: 5px; /* Add some spacing between the dot and the content */
    color: #fffdfd; /* Color of the dot */
    font-size: 18px; 
    display: inline-block;
}
.anime-title{
    display: block;
   padding: 2px
}
.anime-title p {
  color: #ffffff99;
  display: inline-block;
}
.video-player {
    order: 2;
    flex: 0.8;
    max-width: 44%;
    height: 100%;
}

.player {
    height: 400px;
}
#EpisodeNo{
    margin: 5px;
    padding: 20px;
    text-align: center;
    background-color: rgb(54 54 54);
    color: #ffffff;
    font-size: 20px;
    border-radius: 2px;
}
.episodeTable {
    order: 1;
    flex: 0.3;
    max-width: 20%;
    max-height: 585px;
    border: none;
}

.episode-list {
    height: 540px;
   
}
.seasonContainer{
    order: 3;
}
.anime-detail-box {
    display: grid;
    padding : 40px 20px ;
    grid-template-columns: 120px auto;
    grid-template-rows: 170px auto;
    height: 500px;
    
}
#animeDesc{
    grid-column: 1/span 2;
    color: white;
    font-size: 17px;
    font-family: Montserrat, sans-serif;
    overflow: auto;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    height: 180px;
}
#animeDesc::-webkit-scrollbar {
    width: 5px;
}

/* #animeDesc::-webkit-scrollbar-track {
    background: #f1f1f1;
} */

#animeDesc::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

#animeDesc::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
.anime-detail{
    justify-content: initial;
    gap: 10px;
}
.anime-detail img{
 width: 140px;
 height: 200px;

}
.anime-detail h3{
    font-size: 20px;
}
.anime-detail p{
    font-size: 15px;
}