* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   cursor: default;
}
body{
    background-color: #242428;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    position: absolute;
    z-index: 10;
    width: 99%;
    /* background-color: rgb(30, 27, 80); */
    background: linear-gradient(172deg, black,rgba(0, 0, 0, 0.425), transparent);
    color:#e3ffd7;
    padding: 10px 10px;
}
.head
{
    display: flex;
    justify-content: space-between;
}
  
  #menu-icon {
    display: block;

     /* Left side position */
    font-size: 25px;
    cursor: pointer;
    
  }
  
  #menu {
    background-color: #3b2828;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Left side position by default */
    height: 100%;
    overflow: auto;
    transition: 0.5s;
    z-index: 1;
  }
  
  #menu ul {
    padding: 0;
    list-style: none;
  }
  
  #menu ul li {
    padding: 10px;
    text-align: center;
  }
  /* CSS FOR SEARCH BAR AND ITS RESULT  */
 .Search-box{
    position: relative;
 }
.search-icon img{
    width: 30px;
    height: 30px;
}
.search-bar{
    position: absolute;
    z-index: 2;
    width: 90vw;
    right: 0px;
    top: 40px;
    
}
.search-bar input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #96fa6f;
    font-size: 18px;
}
#results-container{
    display: block;
    background-color: rgb(56, 55, 55);
    position: absolute;
    top: 82px;
    right: 0px;
    z-index: 4;
    width: 90vw;
    height: 40vh;
    overflow: scroll;
}
.result{
    display: block;
}
.result-item {
    display: grid;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    height: 11vh;
}

.result-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.result-item span{ 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    position: relative;
    top: -44px;
    right: -57px;
    width: 80%;
    height: 35px;
}
 /* CSS FOR SLIDE SECTION  */

.slide{
    position: relative;
    width: 100%;
    height: 60vw;
    overflow: hidden;
}

.slide-image{
    float: right;
    max-width:  80%;
    width: 80%;
    overflow: hidden;
    height: 100%;
    background: linear-gradient(270deg,transparent 0, black 40%,transparent 50%);
}
.slide-image img{
    float: right;
    width: 100%;
    -webkit-mask-image: linear-gradient(330deg,transparent 0,rgb(36,36,40) 0%,rgb(36,36,40) 10%,transparent);
    mask-image: linear-gradient(330deg,transparent 0,rgb(36,36,40) 30%,rgb(36,36,40) 70%,transparent);
    
}
.slide-detail{
    position: absolute;
    background: linear-gradient(270deg,transparent 0,black 80%,transparent 100%);
    bottom: 0vh;
    padding: 200px 0px 35px 0px;
}

.slide-content{
    max-width: 700px;
    padding: 10px;
    z-index: 3;
    
}
.slide-title{
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    
}
.slide-anime-detail{
    color: white;
    font-size: 0.6rem;
    margin-bottom: 10px;
}
.icon{
    padding-right: 2px;
}
.slide-anime-detail span{
    margin-right: 5px;
    
   
}
.slide-desc{
    display: none;
}
.prev, .next{
    position: absolute;
    right: 0px;
}
/* CSS FOR TRENDING SECTION  */

.trending{
    padding: 5px 5px 28px 10px;
    position: relative;
 }
 .trend-title{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
 }
 .trend-list-container{
    position: relative;
    overflow: scroll; /* Hide horizontal scrollbar */
    white-space: nowrap;
 }
 .scroll-button{
    display: none;
 }
 #trend-list{
    display: flex;
    gap: 70px;
    
 }
 .trend-card
 {
    position: relative;
    width: 210px;
    height: 100%;
 }
 .trend-item span{
    position: absolute;
    top: 76px;
    left: -73px;
    transform: rotate(270deg);
    background: rgba(0, 0, 0, 0.521);
    color: white;
    font-weight: 100;
    font-size: 18px;
    width: 183px;
    padding: 4px 9px;
    max-height: 30px;
    overflow: hidden;
 }
 .trend-image{
    position: relative;
    width: 100px;
    height: 210px;
    left: 34px;
 }
 .trend-image img{
    width: 120px;
    height: 180px;
    cursor: pointer;
 }

  /* CSS FOR ANIME AVAILABLE BOX SECTION  */
 .AvailableBox{
    background: linear-gradient(90deg,transparent 0,rgb(28, 25, 34) 33%,rgb(23, 23, 24) 100%);
    padding: 15px 0px 25px 15px;
 }
 .AvailableBox span{
    color: rgb(214, 214, 118);
    font-weight: bold;
    font-size: 25px;
 }

#available-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 20px 15px 0px 0px;
   
}

.item {
    display: flex;
    flex-direction: column;
    max-width: 160px;
    height: 255px;
    background-color: rgb(68, 66, 66);
    /* align-items: center; */
    /* padding: 4px 0px; */
    /* border-radius: 5px; */
    /* box-shadow: 0px 0px 5px rgb(116, 104, 104); */
    cursor: pointer;
}
.item p,.item img {
    cursor: inherit;
}
.item p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: white;
    margin: 8px;
    font-weight: bold;
}

.item img {
    width: 160px;
    height: 200px;
}
.floatItem{
    display: none;
}
.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }


                /* ---------------CSS FOR PLAYER PAGE ---------------- */

     /* CSS FOR ANIME PLAYER  */
.anime-title{
    display: none;
}
.player{
    position: relative;
    height: 250px;
}
#loading-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
#myIframe{
    width: 100%;
  height: 100%;
  /* display: none; */
}
.playTool{
    padding: 5px 0px 0px 5px;
}
#downloadButton{
    display: inline-block;
    background-color: #96fa6f;
    padding: 5px;
    border-radius: 5px;
}
#EpisodeNo{
    margin: 5px;
    padding: 20px;
    text-align: center;
    background-color: rgb(54 54 54);
    color: #ffffff;
    font-size: 15px;
    border-radius: 2px;
}
.AudioType{
    display: flex;
    margin: 8px;
    padding: 15px 90px;
    /* justify-content: center; */
    font-size: 18px;
    color: #f3f3f3;
    border: 1px dashed rgb(134, 118, 118);
    /* border-radius: 10px; */
    background-color: #28283b;
    /* box-shadow: 0px 0px 5px rgb(139, 114, 114); */
}
.server-option{
    margin: 10px;
    padding: 10px 30px;
    background-color: #302e2e;
    border-radius: 10px;
    color: #fff;
}


.episodeTable{
    padding: 5px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(59, 37, 37);

}

.episode-list{
    height: 400px;
    overflow-y: auto;
}
.episode-list::-webkit-scrollbar {
    width: 12px;
}

.episode-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.episode-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.episode-list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
.episodeList-title{
    padding: 10px 15px;
    color: #fff;
}
.episode{
       padding: 15px 23px;
       background-color: rgb(25, 25, 27);
       color: #babfb8;
       font-family: 'Montserrat',sans-serif;
   
}
.episode:hover {
    color: #96fa6f;
}
.episode span{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.episode span > span{
        display: inline;
        margin-right: 7px;
        font-weight: bold;
}
.color2{
    background-color: rgb(0, 0, 0);
}
.anime-detail-box{
    display: grid;
    order: 2;
    padding: 25px 20px;
    position: relative;
    grid-template-columns: 120px auto;
    grid-template-rows: 170px auto;
    height: 500px;
    
}
.anime-detail-box::before{
    content: "";
    background-color: rgb(67, 54, 80);
    /* background-image: url("/image/anime-image.jpg"); Replace with the URL of your image */
    filter: blur(10px); /* Adjust the blur value as needed */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover; 
    background-position: center center;
}

.anime-detail{
    
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap : 10px
}
.anime-detail img{
    width: 120px;
    height: 180px;
   
   }
.anime-detail h3{
    color: rgb(255, 255, 255);
  
}
.anime-detail p{
    font-size: 13px;
    color: rgb(255, 253, 253);
}
#animeDesc{
    grid-column: 1/span 2;
    color: white;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    overflow: auto;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    height: 165px;
    padding : 0px 15px ;
}

.seasonbox{
    order: 1;
    background: linear-gradient(189deg, #aea9a9, transparent);
    border-radius: 10px;
    /* border: 2px solid #f7f7f742; */
    box-shadow: -1px 1px 2px #ffffff7d;
    padding: 20px 60px;
    align-items: center;
}
.seasonbtn{
    display: inline-block;
    color: black;
    background-color: rgba(255, 226, 145, 0.932);
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}











/* i dont know what the fuck was that  */

.something {
border: 2px solid rebeccapurple;
    border-width: 108px;
    border-left-width: 10px;
    position: absolute;
    overflow: hidden;
    opacity: 0.3;
}


